html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden !important;
}

img {
  max-width: 100%;  /* 부모 컨테이너 폭 이상 안 커지도록 */
  height: auto;     /* 비율 유지 */
  display: block;   /* 불필요한 inline 여백 제거 */
}

/* 전체 화면에 사진을 딱 고정 */
  .window-area {
  position: fixed;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;   /* 여백 색깔 보정 */
}


/* 사진 고정 */
.window-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}

.overlay-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  inset: 0;
}

/* 체크박스 숨기기 */
.tile-check {
  display: none;
}

/* 타일 기본 스타일 */
.tile {
  position: absolute;
  background: white;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 3;
}

/* 체크되면 사라지기 */
.tile-check:checked + .tile {
  opacity: 0;
  pointer-events: none;
}

/* ---- 타일별 크기 ---- */
.tile1 {
  width: 13%;
  height: 92.5%;
  left: 6%;
  top: 4.5%;
}

.tile2 {
  width: 20.5%;
  height: 92%;
  left: 21.5%;
  top: 4.5%;
}

.tile3 {
  width: 10.94%;
  height: 90.09%; /* 973 / 1080 */
  left: 45%;
  top: 5%;
}

.tile4 {
  width: 20%;
  height: 92%;
  right: 21%;
  top: 4.5%;
}

.tile5 {
  width: 18%;
  height: 90%; /* 1056 / 1080 */
  right: 0%;
  top: 5%;
}

.hit-area {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  /*background: rgba(255,0,0,0.2);*/
  pointer-events: none;
}

.overlay-vertical input:checked + label
  ~ input:checked + label
  ~ input:checked + label
  ~ input:checked + label
  ~ input:checked + label
  ~ .hit-area {
    pointer-events: auto;
    z-index: 10;
}

.area1 {
  top: 4.5%;
  left: 6%;
  width: 13%;
  height: 92.5%;
}

.area2 {
  top: 4.5%;
  left: 21.5%;
  width: 20.5%;
  height: 92%;
}

.area3 {
  top: 5%;
  left: 45%;
  width: 10.94%;
  height: 90.09%;
}

.area4 {
  top: 4.5%;
  right: 21%;
  width: 20%;
  height: 92%;
}

.area5 {
  top: 5%;
  right: 0%;
  width: 18%;
  height: 90%;
}