html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden !important;
}

.image-container {
  position: relative;   
  max-width: 100vw;
  max-height: 100vh;
}

.window-area {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;   
}

.window-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}

.hit-area {
  position: absolute;
  display: block;
  z-index: 10; 
}

.area1 {
  top: 0%;
  left: 0%;
  width: 10%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area2 {
  top: 0%;
  left: 10%;
  width: 7.5%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area3 {
  top: 0%;
  left: 17.5%;
  width: 10%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area4 {
  top: 0%;
  left: 27.5%;
  width: 9.3%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area5 {
  top: 0%;
  left: 36.8%;
  width: 9.4%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}
.area6 {
  top: 0%;
  left: 46.2%;
  width: 9.6%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area7 {
  top: 0%;
  left: 55.8%;
  width: 9.5%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area8 {
  top: 0%;
  left: 65.3%;
  width: 9.1%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area9 {
  top: 0%;
  left: 74.4%;
  width: 9%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area10 {
  top: 0%;
  right: 8.5%;
  width: 8.1%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}
.area11 {
  top: 0%;
  right: 0%;
  width: 8.5%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}
