html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden !important;
}
.image-container {
  position: relative;   
  max-width: 100vw;
  max-height: 100vh;
}

.window-area {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;   
}

.window-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}

.hit-area {
  position: absolute;
  display: block;
  z-index: 10; 
}

.area1 {
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

.area2 {
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  /*background: rgba(255,0,0,0.2);*/
}

