html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden !important;
}

.image-container {
  position: relative;  
  display: inline-block;
  width: 100%;         
  height: auto;
}


  .window-area {
  position: fixed;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;  
}


.window-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}


.text-overlay {
  position: absolute;      
  top: 10%;                
  left: 5%;               
  width: 80%;              
  color: white;
  z-index: 5;             
  pointer-events: none;    
  
  text-align: left;        
  white-space: pre-line;  
}


.text-overlay p {
  font-size: 1.2vw;
  margin: 0;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .text-overlay p {
    font-size: 2.0vw;
    line-height: 1.2;
  }
}