html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  line-height: 0;
}

.image-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.main-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
  vertical-align: top;
}

.hit-area {
  position: absolute;
  top: 30%;      /* 사진에서 클릭하고 싶은 위치 */
  left: 0%;
  width: 33%;  /* 영역 크기 */
  height: 35%;
  cursor: pointer;
   /*background: rgba(255,0,0,0.2);*/
}

